body {
  --lego-yellow: rgb(255, 215, 0);
  background-color: var(--lego-yellow);
  height: 100vh;
  padding: 0;
}

div#brick-layer {
  background: url("./resources/brick1.png");
  position: relative;
  min-height: 100vh;
}

#setsTable {
  text-align: center;
  vertical-align: middle;
}

#setsTable > tbody > tr > td:first-child > image {
  max-height: 30px;
}

#setsTable th {
  vertical-align: middle;
}

.yellow-text {
  color: var(--lego-yellow);
}

.btn-yellow {
  background-color: var(--lego-yellow);
  color: black;
}

.btn-yellow:hover {
  background-color: black;
  color: var(--lego-yellow);
}

#spinner {
  width: 20%;
}

.hidden {
  display: none;
}
